@using ShoppingApp.Entity.Concrete
@using ShoppingApp.Web.Models.Dtos
@{
    ViewData["Title"] = "Home Page";
}
@model List<ProductDto>

<div class="text-center">
    <h1 class="display-4">Ürünler</h1>
</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr class="bg-danger text-white">
                <th>Id</th>
                <th>Ürün Adı</th>
                <th>Ürün Fiyatı</th>
                <th>Eklenme Tarihi</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.DateAdded</td>

                </tr>

            }
        </tbody>
    </table>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="card col-4">
                <div class="card-body">
                    <ul>
                        <li>@product.Id</li>
                        <li>@product.Name</li>
                        <li>@product.Price</li>
                        <li>@product.DateAdded</li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>