@using BlogApp.Shared.Utilities.Result.ComplexTypes
@using BlogApp.Entities.Dtos;
@model CategoryListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Kategoriler Anasayfa";
}
@if (Model.ResultStatus == ResultStatus.Success)
{
    @*kategoriler listelenecek*@
    <div id="modalPlaceHolder" aria-hidden="true"></div>

    <h1 class="mt-4">Admin Kategoriler</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Kategoriler</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Kategoriler
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Açıklama</th>
                            <th>Aktif mi?</th>
                            <th>Silinmiş mi?</th>
                            <th>Not</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Oluşturan Kullanıcı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td>@category.Id</td>
                                <td>@category.Name</td>
                                <td>@category.Description</td>
                                <td>@category.IsActive</td>
                                <td>@category.IsDeleted</td>
                                <td>@category.Note</td>
                                <td>@category.CreatedDate.ToShortDateString()</td>
                                <td>@category.CreatedByName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#categoriesTable').DataTable({
                dom: "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [ //Kerem: ekle ve yenile butonlarının eklenmesi
                    {
                        text: 'Ekle',
                        attr: {
                            id: "btnAdd"
                        },
                        action: function (e, dt, node, config) {

                        },
                        className: 'btn btn-success'
                    },
                    {
                        text: 'Yenile',
                        action: function (e, dt, node, config) {
                            alert('Yenile butonuna tıklandı');
                        },
                        className: 'btn btn-warning'
                    }
                ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/tr.json', //Kerem: datatables türkçe 
                }
            });
            //Datatable burada bitiyor

            $(function () {
                const url = '@Url.Action("Add", "Category")'; //Kerem:Controller'dan Add metodunu çağırdık...
                const placeHolderDiv = $('#modalPlaceHolder'); //Kerem:View'da ilgili div'i tanımladık...

                //Ajaxla (GET) partial viewimizi ekrana getirme
                $('#btnAdd').click(function () { //Kerem:btnAdd id'li elemente click fonksiyonu ekliyoruz...
                    $.get(url).done(function (data) { //Kerem: Url değişkeniyle get request yapıyoruz...
                        placeHolderDiv.html(data); //Kerem:ilgili html elementinden tutulan data
                        placeHolderDiv.find(".modal").modal('show'); //Kerem:partialview'dan id'si modal olanı bul ve göster
                    });
                });
                //Ajaxla (GET) partial viewimizi ekrana getirme

                //Ajaxla POST işlemleri
                placeHolderDiv.on('click', '#btnSave', function (event) { //Kerem: btnSave'e click fonksiyonu ata ve event fonksiyonunu getir.
                    event.preventDefault(); //Kerem: form submit edilince ekranın refresh etmesini engeller.
                    const form = $('#form-category-add'); //Kerem: form değişkeni belirle ve bunu form-category-add id'li elemente ata
                    const actionUrl = form.attr('action'); //Kerem: form'a action attribute'u ekle
                    const dataToSend = form.serialize(); //Kerem: form'a json dönüştürme fonksiyonu ekle.
                    $.post(actionUrl, dataToSend).done(function (data) { //Kerem: action attribute'u eklenmiş forma gelen veriyi gönder.
                        const categoryAddAjaxModel = jQuery.parseJSON(data);  //Kerem: datayı Json formatına parse et.
                        const newFormBody = $('.modal-body', categoryAddAjaxModel.CategoryAddPartial); //Kerem: 
                        placeHolderDiv.find('.modal-body').replaceWith(newFormBody); //Kerem: modal-body elementini bul ve yeni modal'la değiştir.
                        const isValid = newFormBody.find('[name="IsValid"]').val() === 'True'; //Kerem: form'daki değişiklikleri kontrol et. 
                        if (isValid) { //Kerem: Eğer fark varsa yeni tablo yarat ve AjaxModel'i ile çağır.
                            const newTableRow = `
                                            <tr>
                                            <td>${categoryAddAjaxModel.CategoryDto.Category.Id}</td>
                                            <td>${categoryAddAjaxModel.CategoryDto.Category.Name}</td>
                                            <td>${categoryAddAjaxModel.CategoryDto.Category.Description}</td>
                                            <td>${convertFirstLetterToUpperCase(categoryAddAjaxModel.CategoryDto.Category.IsActive)}</td>
                                            <td>${convertFirstLetterToUpperCase(categoryAddAjaxModel.CategoryDto.Category.IsDeleted)}</td>
                                                    <td>${categoryAddAjaxModel.CategoryDto.Category.Note ?? ''}</td>
                                            <td>${convertToShortDate(categoryAddAjaxModel.CategoryDto.Category.CreatedDate)}</td>
                                            <td>${categoryAddAjaxModel.CategoryDto.Category.CreatedByName}</td>
                                            </tr>
                                            `;
                            const newTableRowObject = $(newTableRow); //Kerem: yarattığın tabloyu değişkene ata
                            newTableRowObject.hide(); //Kerem: tabloyu hemen göstermemek için gizle.
                            $('#categoriesTable').append(newTableRowObject); //Kerem:oluşturulan nesneyi kategorinin altına ekle.
                            newTableRowObject.fadeIn(3000); //Kerem: 3sn içerisinde fade-in animasyonuyla gelsin.
                            toastr.success(`${categoryAddAjaxModel.CategoryDto.Message}`, 'Başarılı!'); //Kerem: eğer işlem başarılıysa toastr kütüphanesi ile toast mesaj göster
                            placeHolderDiv.find(".modal").modal('hide');  //Kerem: kategori ekleme ekranını kapat
                        }
                        else { //Kerem:Eğer toast mesajı ile hata gösterilecekse mesajları validation-summary elementinden getirerek toast message penceresinde göster.
                            let summaryText = '<br>'; 
                            $('#validation-summary > ul > li').each(function () {
                                let liText = $(this).text();
                                summaryText += `*${liText}<br><br>`;
                            });
                            toastr.warning(summaryText, 'Dikkat!');
                        }
                    });
                });

            });
        });
    </script>
};