@model List<Book>
@{
    ViewData["Title"] = "Book";
}
<h1 class="display-6">Product List</h1>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Basım Yılı</th>
            <th>Sayfa Sayısı</th>
            <th>Kategori</th>
            <th>Yazar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.Id</td>
                <td>@b.Ad</td>
                <td>@b.BasimYili</td>
                <td>@b.SayfaSayisi</td>
                <td>@b.Category.Ad</td>
                <td>@b.Author.Ad</td>
            </tr>
        }
    </tbody>
</table>